:root {
    --active-color: #404BBF;
    --CLOUD: #F4F4FD;
    --Iris: #4D5AE5;
    --NAVY-BLUE: #2E2F42;
    --SLATE:#434455;
    --CORNFLOWER:#E7E9FC;
    --White-color:#FFFFFF;
  }
body{
    font-family: 'Roboto', sans-serif;
    color: var(--SLATE);
    background-color: var(--White-color);
    font-size: 16px;
}
.list {
    list-style: none;
  }
.link {
    text-decoration: none;
  }
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    margin: -1px;
 }

 .logo-firstpart{
    color: var(--Iris);
 }
 .header-address-email-link:hover,
 .header-address-email-link:focus{
    color: var(--active-color);
}

.hero-button:hover{
    background:  var(--active-color);
}
.portfolio-button:hover,
.portfolio-button:focus{
    background:  var(--active-color);
    color: var(--White-color);
}

 .header-link:hover,
.header-link:focus
 {
  color: var(--active-color);
}
.header {
  
}
.header-navigation {
}
.header-logo {
font-family: 'Raleway';

font-weight: 800;
font-size: 18px;
line-height: 1.13;


letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--NAVY-BLUE);
}
button{
    cursor: pointer;
}
.header-list {


}
.header-item {

}
.header-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--NAVY-BLUE);
}

.header-address {
}
.header-address-list {
}
.header-addres-item {
}
.header-address-email-link {

font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--SLATE);
font-style: normal;
}
.header-address-tel-link{
    


font-size: 16px;
line-height: 1.5;
font-style: normal;
letter-spacing: 0.02em;
color: var(--SLATE);
}


.main {
}
.hero {
    background: var(--NAVY-BLUE);
}
.hero-header {
    

font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: var(--White-color);
}
.hero-button {
    

font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--White-color);

background: var(--Iris);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

}


.features {
}
.features-list {
}
.features-item {

}
.features-list-header {
    

font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--NAVY-BLUE);

}
.features-list-text {



font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--SLATE);
}

.about {
}
.about-header {


font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;

color: var(--NAVY-BLUE);
}
.about-list {
}
.list {
}
.about-item {
}
.about-img {
    background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1));
background-blend-mode: soft-light, normal;

border: 1px solid var(--CORNFLOWER);

}


.team {
    background-color: var(--CLOUD);
}
.team-header {


font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--NAVY-BLUE);
}
.team-list {
}
.list {
}
.team-item {
background: var(--White-color);
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;

}
.team-list-img {
}
.team-list-header {


font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color: var(--NAVY-BLUE);
}
.team-list-text {



font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: var(--SLATE);
}

.footer {
    background-color: var(--NAVY-BLUE);
}
.footer-header {
    font-family: 'Raleway';

font-weight: 800;
font-size: 18px;
line-height: 1.13;
/* identical to box height */



letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--CLOUD);

}

.footer-text {
    


font-size: 16px;
line-height: 1.5;


letter-spacing: 0.02em;


color: var(--CORNFLOWER);

}





/* */

.portfolio {
}
.portfolio-list {
}
.portfolio-item-button {
}
.portfolio-button {
    box-sizing: border-box;

/* Auto layout */


flex-direction: row;
justify-content: center;

padding: 12px 24px;


/* CLOUD */

background: var(--CLOUD);
/* CORNFLOWER */

border: 1px solid var(--CORNFLOWER);
border-radius: 4px;


font-weight: 500;
font-size: 16px;
line-height: 1.5;

text-align: center;
letter-spacing: 0.04em;

/* IRIS */

color: var(--Iris);

}
.portfolio {
}
.portfolio-list {
}
.portfolio-item:hover{
    background: var(--White-color);
    border: 0.5px solid var(--CLOUD);
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-item {
    background: var(--White-color);
border: 1px solid var(--CORNFLOWER);
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.portfolio-img {
    background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1));
background-blend-mode: soft-light, normal;
mix-blend-mode: normal;
}
.portfolio-list-header {



font-weight: 500;
font-size: 20px;
line-height: 1.2;

letter-spacing: 0.02em;

/* NAVY BLUE */

color: var(--NAVY-BLUE);
}
.portfolio-list-text {
    /* Body */




font-size: 16px;
line-height: 1.5;


letter-spacing: 0.02em;

/* SLATE */

color: var(--SLATE);

}
.portfolio-link{

}